<table class="fiveblocks">
<tr>
    <td>Tu</td>
    <td>peux</td>
    <td>y a</td>
    <td>rri</td>
    <td>ver</td>
    <td>Mais</td>
    <td>pour</td>
    <td>m’é</td>
    <td>ga</td>
    <td>ler</td>
</tr>
<tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
</tr>
<tr>
    <td>Il</td>
    <td>faut</td>
    <td>tra</td>
    <td>va</td>
    <td>iller</td>
    <td>A</td>
    <td>ccroches</td>
    <td>toi</td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
</tr>
</table>
<div class="tablegend">
    <div class="label">Légende :</div>
    <div class="traine">Traîne</div>
</div>