<table class="fourblocks">
<tr>
    <td>&nbsp;I&nbsp;</td>
    <td><b>ma</b></td>
    <td>gine</td>
    <td>toi</td>
    <td>un</td>
    <td><b>gros</b></td>
    <td>la</td>
    <td>pin</td>
</tr>
<tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
</tr>
<tr>
    <td>a</td>
    <td><b>vec</b></td>
    <td>un</td>
    <td>chat</td>
    <td>tout</td>
    <td><b>gen</b></td>
    <td>til</td>
    <td></td>
</tr>
<tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
</tr>
</table>

<table class="fiveblocks">
<tr>
    <td>&nbsp;I&nbsp;</td>
    <td><b>ma&nbsp;</b></td>
    <td>gine</td>
    <td>toi</td>
    <td>un&nbsp;</td>
    <td><b>gros</b></td>
    <td>lar</td>
    <td>pin</td>
    <td>pou</td>
    <td>pin</td>
</tr>
<tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    <td>7</td>
    <td>8</td>
    <td>9</td>
    <td>10</td>
</tr>
<tr>
    <td>a</td>
    <td><b>vec</b></td>
    <td>un</td>
    <td>chat</td>
    <td>tout</td>
    <td><b>gen</b></td>
    <td>til</td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>11</td>
    <td>12</td>
    <td>13</td>
    <td>14</td>
    <td>15</td>
    <td>16</td>
    <td>17</td>
    <td>18</td>
    <td>19</td>
    <td>20</td>
</tr>
</table>

<table class="sixblocks">
<tr>
    <td>gine</td>
    <td>toi</td>
    <td>la</td>
    <td>pin</td>
    <td>la</td>
    <td>pin</td>
</tr>
<tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
</tr>
<tr>
    <td>a</td>
    <td>vec</td>
    <td>un</td>
    <td>chat</td>
    <td>tout</td>
    <td>gen</td>
</tr>
<tr>
    <td>7</td>
    <td>8</td>
    <td>9</td>
    <td>10</td>
    <td>11</td>
    <td>12</td>
</tr>
</table>