<table class="fiveblocks">
<tr>
    <td>Si</td>
    <td>tu</td>
    <td>veux</td>
    <td>ra</td>
    <td>pper</td>
    <td>comme</td>
    <td>un</td>
    <td>vir</td>
    <td>tu</td>
    <td>ose</td>
</tr>
<tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
</tr>
<tr>
    <td>Je</td>
    <td>se</td>
    <td>rais</td>
    <td>ton</td>
    <td>maître</td>
    <td>é</td>
    <td>coute</td>
    <td>moi</td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td></td>
    <td></td>
</tr>
</table>