<table class="fourblocks">
<tr>
    <td>&nbsp;I&nbsp;</td>
    <td><b>ma</b></td>
    <td>gine</td>
    <td>toi</td>
    <td>un</td>
    <td><b>gros</b></td>
    <td>la</td>
    <td>pin</td>
</tr>
<tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
</tr>
<tr>
    <td>a</td>
    <td><b>vec</b></td>
    <td>un</td>
    <td>chat</td>
    <td>tout</td>
    <td><b>gen</b></td>
    <td>til</td>
    <td></td>
</tr>
<tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
</tr>
</table>