<table class="fiveblocks">
<tr>
    <td>Si</td>
    <td>tu</td>
    <td>veux</td>
    <td>ra</td>
    <td>pper</td>
    <td>comme</td>
    <td>un</td>
    <td>vir</td>
    <td>tu</td>
    <td>ose</td>
</tr>
<tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    <td>7</td>
    <td>8</td>
    <td>9</td>
    <td>10</td>
</tr>
<tr>
    <td>Je</td>
    <td>se</td>
    <td>rais</td>
    <td>ton</td>
    <td>maître</td>
    <td>é</td>
    <td>coute</td>
    <td>moi</td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>11</td>
    <td>12</td>
    <td>13</td>
    <td>14</td>
    <td>15</td>
    <td>16</td>
    <td>17</td>
    <td>18</td>
    <td>19</td>
    <td>20</td>
</tr>
</table>