<style>
table{
  border-collapse:collapse;
}
td {
    width: 50px;
    height: 50px;
    border: 0px;
    padding: 0px;
    margin:0px;
    text-align:center;
    font-family: Courier;
    color: black;
}

tr:nth-child(2) td {
    color: gray;
}

tr:nth-child(1) td {
border: 0px;
    border-bottom: 1px solid #EEEEEE;
}

/*
tr:nth-child(1) td {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
*/


tr:nth-child(1) td, tr:nth-child(2) td {
    border-left: 1px solid #EEEEEE;  
}


tr:nth-child(2) td:nth-child(1), tr:nth-child(1) td:nth-child(1) {     
    border-left: 1px solid black;
}

tr:nth-child(2) td:nth-of-type(4n), tr:nth-child(1) td:nth-of-type(4n) {     
    border-right: 1px solid black;
}

td:nth-child(2) {
    border-bottom: 0px solid black;
}

</style>
<table>
<tr>
    <td>I</td>
    <td><b>ma</b></td>
    <td>gine</td>
    <td>toi</td>
    <td>un</td>
    <td><b>gros</b></td>
    <td>la</td>
    <td>pin</td>
    <td>a</td>
    <td><b>vec</b></td>
    <td>un</td>
    <td>chat</td>
    <td>tout</td>
    <td><b>gen</b></td>
    <td>til</td>
    <td></td>
</tr>
<tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    <td>7</td>
    <td>8</td>
    <td>9</td>
    <td>10</td>
    <td>11</td>
    <td>12</td>
    <td>13</td>
    <td>14</td>
    <td>15</td>
    <td>16</td>
</tr>
</table>