## Exercices d’écriture

Créer un texte en respectant un motif de phrasé précis (4 vers/mesures).
L’exercice est à répéter pour chaque motif de phrasé du flow.
Le texte peut être insensé, voire « yahourté » : on oublie la contrainte du sens pour se concentrer sur le phrasé.

Créer un texte en variant les motifs de phrasé du flow (8 vers/mesures)
On veillera à alterner suffisamment motifs denses et moins denses (nombre de pieds par vers), pour aérer la scansion et permettre à l’interprète de reprendre sa respiration.

Créer un texte en variant les flow (adaptés au tempo choisi) toutes les 4 mesures. A l’interieur de ces quatre mesure, l’alternace entre les motifs de phrasé est libre. Un seul motif peur être réutilisé.

## Exercices de champ
Chanter en énumerant (8 vers mesures)
L’exercice est à répéter pour chaque motif de phrasé du flow.
Chanter avec le texte (8 vers/mesures). Répéter le texte donné en exemple.
On veillera à alterner suffisamment motifs denses et moins denses (nombre de pieds par vers), pour aérer la scansion et permettre à l’interprète de reprendre sa respiration.
Reprendre le texte mélangeant différents motifs de phrasé du flow écrit lors de l’exercice d’écriture et le chanter
Reprendre le texte mélangeant différents du flow écrit lors de l’exercice d’écriture et le chanter
Essayer le texte sur différentes instrus (le tempo adapté au flow), plus ou moins rapides
Ecrire un texte et le chanter en s’émancipant des contraintes, au « feeling »
