<div class="book-summary">
    <!-- <div id="book-search-input" role="search">
        <input type="text" placeholder="Type to search" />
    </div> -->
    <nav role="navigation">
        <ul class="summary">
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a href="{{site.baseurl}}/">
                    {{ site.title | escape }}
                </a>
            </li>

            <li class="divider"></li>
                <li class="chapter active" data-level="1.1" data-path="{{ site.baseurl }}{% link _pages/blocsde5.md %}">
                <a href="{{ site.baseurl }}{% link _pages/blocsde5.md %}">Quelques sons</a>
            </li>

            <li class="divider"></li>
        </ul>
    </nav>
</div>